@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    height: 100%;
}

.first-container{
    width: 100%;
}

.img-first-container{
    float: left;
    position: relative;
    top: 20px;
    left: 12%;
}

.clear{
    clear: both;
}

.menu-first-container{
    position: relative;
    float: right;
    top: 45px;
    right: 14%;
}

.menu-first-container ul {
    list-style-type: none;
}

.menu-first-container ul li{
    display: inline-block;
}

.menu-first-container ul li a{
    text-decoration: none;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    color: black;
}

.circle{
    z-index: -2;
    background-color: #017143;
    height: 46vw;
    width: 46vw;
    position: absolute;
    border-radius: 100% 0 0 0;
    right: 0;
    bottom: 0;
    min-height: 80vh;
    min-width: 500px;
}

.img-circle{
    position: absolute;
    right: 5%;
}

.img-circle > img{
    width: 26vw;
    z-index: -1;
    min-width: 300px;
    
    
}