@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    height: 100%;
}

.background{
    height: 100%;
}

.first-container{
    width: 100%;
}

.img-first-container{
    float: left;
    position: relative;
    top: 20px;
    left: 12%;
}

.clear{
    clear: both;
}

.menu-first-container{
    position: relative;
    float: right;
    top: 45px;
    right: 14%;
}

.menu-first-container ul {
    list-style-type: none;
}

.menu-first-container ul li{
    display: inline-block;
}

.menu-first-container ul li a{
    text-decoration: none;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    color: black;
}

.circle{
    z-index: -2;
    background-color: #017143;
    height: 46vw;
    width: 46vw;
    position: absolute;
    border-radius: 100% 0 0 0;
    right: 0;
    bottom: 0;
    min-height: 80vh;
    min-width: 500px;
}

.img-circle{
    position: absolute;
    right: 5%;
}

.img-circle > img{
    width: 26vw;
    z-index: -1;
    min-width: 300px;
    
    
}

.icons-circle{
    position: relative;
    float: right;
    top: 10vw;
    
}

.icon-circle{
    padding: 13px 2px;
}

.facebook-icon a img{
    width: 30px;
}

.container-main{
    width: 76%;
    margin:  0 auto;
}

.title-main h1{
    font-size: 50px;
    margin-top: -25px;
    max-width: 600px;
}

.title-main h1::after{
    content: " StarBucks";
    color: #017143;
}

.content-main{
    margin-top: 20px;
    max-width: 800px;
    text-align: justify;
    font-weight: bold;
    font-size: 14px;
}

.button-main{
    margin-top: 20px;
}

.button-main a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    background-color: #036b40;
    padding: 8px 14px;
    border-radius: 15px;
    border: 2px solid #01331d;
    display: inline-block;
}

.icons-main{
    display: none;
}

@media screen and (max-width:1260px){
    .content-main{
        max-width: 650px;
    }

    .title-main h1{
        font-size: 48px;
    }
}

@media screen and (max-width:1060px){
    .content-main{
        max-width: 550px;
    }

    .title-main h1{
        font-size: 44px;
    }
}

@media screen and (max-width:986px){
    
    .img-circle > img{
        display: none;
        
    }

    .content-main{
        max-width: 650px;
    }
}


@media screen and (max-width:742px) {
    .title-main h1::after{
        color: black;
    }
    
}

@media screen and (max-width:612px) {
    .img-first-container{
        float: none;
        display: inline-block;
        top: 20px;
        left: calc(50% - 50px);
    }

    .menu-first-container{
        float: none;
        top: 45px;
        text-align: center;
        left: 0px;
    }

    .icon-circle{
        display: none;
    }
 
    .title-main h1{
        font-size: 40px;
    }

    .menu-first-container{
        height: 250px;
    }
    .menu-first-container ul li{
        display: block;
        padding: 10px 0;
        margin: 2px 0;
        
    }

    .circle{
        display: none;
    }
    
    .icons-main{
        display: flex;
        margin-top: 20px;
    }

    .fck-icon a img{
        width: 15px;
    }

    .insta-icon a img{
        width: 30px;
    }
    
    .tt-icon a img{
        width: 35px;
    }

    .icon-main{
        margin-left: 10px;
    }

    .icons-main{
        position: relative;
        top: -57px;
        float: right;
    }

    .background{
        background-color: #026e41;
    }

    .sec-container-main{
        background-color: #026e41;
    }
}

@media screen and (max-width:580px){
    .title-main h1{
        font-size: 38px;
    }
}

@media screen and (max-width:560px){
    .title-main h1{
        font-size: 36px;
    }
}

@media screen and (max-width:520px){
    .title-main h1{
        font-size: 34px;
    }
}

@media screen and (max-width:490px){
    .title-main h1{
        font-size: 32px;
    }
}

@media screen and (max-width:462px){
    .title-main h1{
        font-size: 30px;
    }
}

@media screen and (max-width:435px){
    .title-main h1{
        font-size: 36px;
        padding-left: 20px;
    }
}

@media screen and (max-width:385px){
    .title-main h1{
        font-size: 30px;
        padding-left: 10%;
    }
}

@media screen and (max-height:688px){
    .container-main{
        margin-top: -100px;
    }
    .circle{
        
        
        height: 30vw;
        width: 30vw;
        position: absolute;
        border-radius: 100% 0 0 0;
        right: 0;
        bottom: 0;
        min-height: 80vh;
        min-width: 500px;
    }

    .img-circle > img{
        width: 33%;
        position: relative;
        right: -110px;
        
    }
}

@media screen and (max-height:688px) and (max-width:612px){
    .container-main{
        margin-top: 0px;
    }
}